body {
    font-size: 16px;
    background: linear-gradient(180deg,#00c8ff,#0072ff)!important;
    font-family: 'Montserrat', sans-serif;
    color: #080808;
    overflow: hidden;
}

a {
    color: #000000;
}

.navbar-brand {
    font-size: 28px;
}
/*START HEADER*/
#navbar-header {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-bottom: 2px solid #afafaf;
}
#navbar-content {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-bottom: 2px solid #afafaf;
}

.navbar-toggler {
    margin-top: 8px;
    margin-right: 30px;
    margin-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar svg {
    height: 1.5em;
    fill: rgb(25, 0, 255);
}

#nav-list {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#footer {
    color: rgb(0, 0, 0);
    background:  #ffffff;
}

@media (min-width:576px){
    .navbar-brand {
        font-size: 20px;
    }
}